# Chapter 1 - Introduction: Key Concepts, Notation, Set Theory, Relations, and Functions

This notebook contains code accompanying Chapter 1 Introduction: Key Concepts, Notation, Set Theory, Relations, and Functions in *Practical Discrete Mathematics* by Ryan T. White and Archana Tikayat Ray

## Functions and Relations

### The `sort()` function

In [3]:
numbers = [3, 1, 4, 12, 8, 5, 2, 9, 432, 31]
names = ['Wyatt', 'Brandon', 'Kumar', 'Eugene', 'Elise', 'yuyg']

# Apply the sort() function to the lists
numbers.sort()
names.sort()

# Display the output
print(numbers)
print(names)

[1, 2, 3, 4, 5, 8, 9, 12, 31, 432]
['Brandon', 'Elise', 'Eugene', 'Kumar', 'Wyatt', 'yuyg']

### The `shuffle()` function

In [54]:
import random

# Set a random seed so the code is reproducible
random.seed(143)

# Run the random.shuffle() function 5 times and display the outputs
for i in range(0,5):
    numbers = [3, 1, 4, 12, 8, 5, 2, 9,23,54,656,21]
    random.shuffle(numbers)
    print(numbers)

[2, 9, 5, 8, 23, 54, 1, 21, 12, 656, 3, 4]
[9, 3, 23, 5, 12, 656, 4, 21, 2, 8, 54, 1]
[54, 2, 23, 3, 4, 12, 1, 9, 5, 21, 8, 656]
[54, 2, 4, 3, 1, 5, 8, 656, 9, 23, 12, 21]
[1, 3, 2, 4, 21, 9, 656, 23, 8, 5, 54, 12]

In [57]:
name = 'Wong Yong Bin'
number = len(name)
print(str(number))

13

In [43]:
numbers = [3, 1, 4, 12, 8, 5, 2, 9, 432, 31]
names = ['Wyatt', 'Brandon', 'Kumar', 'Eugene', 'Elise', 'yuyg']

# Apply the sort() function to the lists
numbers.sort(reverse=True)
names.sort(reverse=True)

# Display the output
print(numbers)
print(names)

[432, 31, 12, 9, 8, 5, 4, 3, 2, 1]
['yuyg', 'Wyatt', 'Kumar', 'Eugene', 'Elise', 'Brandon']